<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <config>
     <add key="repositoryPath" value="packages"/>
  </config>
  <packageSources>
    <add key="fsharp-netcore-preview2" value="https://www.myget.org/F/fsharp-netcoresdk-preview2-betatest/api/v3/index.json" />
    <add    key="localBuild"
            value="../../bin/packages"/>
  </packageSources>
</configuration>
